.header {
	margin: 0px auto;
	width: 900px;
	height: 120px;
	background-color: #ff66b3;

}
.header h1{
	margin-top: 30px;
	background: lightblue;
	font-family: sans-serif;
	color: #fff;
	width: 400px;
	float: right;
	text-align: right;
	padding: 10px 10px 10px;
	border-radius: 10px;
}
.header h1 small{
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.menu{
	margin: 0 auto;
	width: 900px;
	height: 45px;
	border-top: 5px solid #dd6600;
	background: #b30059;
	font-size: 16px;
	text-align: center;
}

.menu ul li{
	display: inline;
}

.menu li a{
	text-decoration:none;
	margin-top:0 10px;
	padding-bottom: 5px;
	color: #000;
}

.menu li a:hover{
	background-color: #C80460;
	color: white;
}
.content {
	margin: 0 auto;
	width: 890px;
	height: 290px;
	background-color: black; 
	padding: 5px;

}
.c1{
	float: left;
	margin-right: 10px;
	width: 270px;
	height: 285px;
	background-color: grey;
}
.c2{
	float: left;
	margin-right: 10px;
	width: 270px;
	height: 285px;
	background-color: grey;
}
.c3
{
	float: left;
	margin-right: 10px;
	width: 270px;
	height: 285px;
	background-color: grey;
}